:host {
	position: absolute;
	inset: 0;
}
#fabs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 24px;
}

md-list-item {
	--md-ripple-hover-opacity: 0;
}

md-list-item[selected] {
	background-color: var(--md-sys-color-surface-container-highest);
}

md-filled-icon-button {
	--md-filled-icon-button-container-color: var(--md-sys-color-outline-variant);
	--md-sys-color-on-primary: var(--md-sys-color-on-surface);
}
